<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/stylesheets/page_styles.css">
</head>
<body>
  <img src="/images/sports.png" alt="banner" class: "center" width="100%" height="5%" >
<h1>Welcome Back to the LSWA!</h1>
<h3> To Sign In fill in the form Below</h3>

<form method='post' action='/login'>
  <input type='string' placeholder='email' name='email'>
  <input type='password' placeholder='password' name='password'>
  <input type='submit' value='SignIn'>
</form>
