<ol>
<% @submissions.each do |s|%>
  <li><a href="/submissions/<%= s.id %>"><%=s.title%></li></a>
  <% end %>
</ol>




#return just category name and title of each submission object (possibly with index)

@submissions
iterate over Submissions

if .empty??


button to create new


in post for Submissions assign user to the sub
