<div class="container">
  <header><blockquote class="imgur-embed-pub" lang="en" data-id="a/205yuwW"><a href="//imgur.com/a/205yuwW">sport</a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>LSWA WRITING CONTEST</h2>

    <div class="content">
      <p>Welcome to the LSWA Sports Writing Contest! </p>
      <a href='/login'>Login</a> OR <a href='/members/new'>SignUp</a>
      <p>-30-</p>
    <div class="sidebar">
      <h3>Environment</h3>
      <ul>
        <li><b>Created by:</b> JJ Marshall</li>
        <li><b>In association with:</b> Flatiron School</li>
        <li><b>Framework:</b> Sinatra</li>
        <li><b>For 2020 LSWA Writing Contest</li>
      </ul>
    </div>

  </div>
</div>
